In [ ]:
#import get to call a get request on the site
from requests import get
from bs4 import BeautifulSoup
from time import sleep
import re
from random import randint #avoid throttling by not sending too many requests one after the other
from warnings import warn
from time import time
from IPython.core.display import clear_output
import numpy as np


zipcodes=["02128", "02115", "02130", "02129", "02119", "02114", "02113", "02109", "02108", "02110", 
          "02210", "02116", "02111", "02127", "02118", "02199", "02215", "02120", "02125", "02122", 
          "02124", "02131", "02121", "02126", "02136", "02132", "02135", "02467", "02026", 
          "02134", "02446", "02445"]
post_timing = []
post_hoods = []
post_title_texts = []
bedroom_counts = []
sqfts = []
post_links = []
post_prices = []
zipcode =[]
#get the first page of the east bay housing prices
response = get('https://m.bostonpads.com/api/listings-short?bbox=-72.460513371941%2C41.326829193627%2C-69.691720628059%2C43.373088806373&page=0&unique=1&results_per_page=500')
html_soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
response_json=json.loads(str(html_soup))

last_page=response_json['last_page']
zipcode= []
beds= []
baths=[]
price=[]
create_date=[]
date_modified=[]
heat =[]
style=[]
luxury_building=[]
pets=[]
hot_water=[]
electricity=[]
extra_storage=[]
parking=[]
dish_washer=[]
laundry_location=[]
ad_id=[]
air_conditioning=[]
furnished=[]
status=[]
feed_type=[]
pets_description=[]

In [ ]:
for i in range(0,last_page):
  response = get('https://m.bostonpads.com/api/listings-short?bbox=-72.460513371941%2C41.326829193627%2C-69.691720628059%2C43.373088806373&page='+str(i)+'&unique=1&results_per_page=500')
  sleep(randint(1,5))
  html_soup = BeautifulSoup(response.text, 'html.parser')
  response_json=json.loads(str(html_soup))
  zips_page=[d.get('zip') for d in response_json['data']]
  beds_page=[d.get('bed_room') for d in response_json['data']]
  baths_page= [d.get('baths') for d in response_json['data']]
  price_page=[d.get('price') for d in response_json['data']]
  create_date_page=[d.get('create_date') for d in response_json['data']]
  date_modified_page=[d.get('date_modified') for d in response_json['data']]
  heat_page=[d.get('heat') for d in response_json['data']]
  style_page=[d.get('style') for d in response_json['data']]
  luxury_building_page=[d.get('luxury_building') for d in response_json['data']]
  pets_page=[d.get('pets') for d in response_json['data']]
  hot_water_page=[d.get('hot_water') for d in response_json['data']]
  electricity_page=[d.get('electricity') for d in response_json['data']]
  extra_storage_page=[d.get('extra_storage') for d in response_json['data']]
  parking_page=[d.get('parking') for d in response_json['data']]
  dish_washer_page=[d.get('dish_washer') for d in response_json['data']]
  laundry_location_page=[d.get('laundry_location') for d in response_json['data']]
  ad_id_page=[d.get('ad_id') for d in response_json['data']]
  air_conditioning_page=[d.get('air_conditioning') for d in response_json['data']]
  furnished_page=[d.get('furnished') for d in response_json['data']]
  status_page=[d.get('status') for d in response_json['data']]
  feed_type_page=[d.get('feed_type') for d in response_json['data']]
  pets_description_page=[d.get('pets_description') for d in response_json['data']]
  pets_page=[d.get('pets') for d in response_json['data']]
  zipcode = [*zipcode, *zips_page]
  beds = [*beds, *beds_page]
  baths = [*baths, *baths_page]
  price = [*price, *price_page]
  create_date = [*create_date, *create_date_page]
  date_modified = [*date_modified, *date_modified_page]
  heat = [*heat, *heat_page]
  style = [*style, *style_page]
  luxury_building = [*luxury_building, *luxury_building_page]
  hot_water = [*hot_water, *hot_water_page]
  electricity = [*electricity, *electricity_page]
  extra_storage = [*extra_storage, *extra_storage_page]
  dish_washer = [*dish_washer, *dish_washer_page]
  laundry_location = [*laundry_location, *laundry_location_page]
  
  ad_id = [*ad_id, *ad_id_page]
  air_conditioning = [*air_conditioning, *air_conditioning_page]
  furnished = [*furnished, *furnished_page]
  status = [*status, *status_page]
  feed_type = [*feed_type, *feed_type_page]
  pets_description = [*pets_description, *pets_description_page]
  pets = [*pets, *pets_page]
  parking = [*parking, *parking_page]

In [ ]:
len(furnished)

9000

In [ ]:
df_bostonpad_posts = pd.DataFrame({
                          'ad_id':ad_id,
                          'create_date' : create_date,
                          'date_modified': date_modified,
                            'Zipcode': zipcode,
                       'number bedrooms': beds,
                       'baths' : baths,
                        'price': price,
                        'heat' : heat,
                        'style':style,
'luxury_building':luxury_building,
'pets':pets,
'hot_water':hot_water,
'electricity':electricity,
'extra_storage':extra_storage,
'parking':parking,
'dish_washer':dish_washer,
'laundry_location':laundry_location,

'air_conditioning':air_conditioning,
'furnished':furnished,
'status':status,
'feed_type':feed_type,
'pets_description':pets_description
                       })

In [ ]:
df_bostonpad_posts

        ad_id          create_date  ... feed_type        pets_description
0     3833809  2017-09-26 00:00:00  ...    RENTAL                 NO PETS
1     3833806  2012-06-06 00:00:00  ...    RENTAL                 NO PETS
2     3834528  2006-04-26 00:00:00  ...    RENTAL
3     3833805  2012-06-06 00:00:00  ...    RENTAL                 NO PETS
4     3833818  2020-03-11 14:13:16  ...    RENTAL
...       ...                  ...  ...       ...                     ...
2995  3783918  2018-12-17 00:00:00  ...    RENTAL  Dog OK, Cat OK, Pet OK
2996  3827846  2018-03-29 00:00:00  ...    RENTAL                  Pet OK
2997  3827239  2011-10-07 00:00:00  ...    RENTAL                  Pet OK
2998  3827250  2011-10-07 00:00:00  ...    RENTAL              Negotiable
2999  3827237  2019-04-13 00:00:00  ...    RENTAL                 NO PETS

[3000 rows x 22 columns]

In [ ]:
df_bostonpad_posts['price']=df_bostonpad_posts['price'].apply(lambda i : int(i.replace('$', '').replace(',', '')))

In [ ]:
df_bostonpad_posts['price'].isnull().values.any()

False

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')
#drive.flush_and_unmount()
#%cd "/content/drive/My Drive/Colab Notebooks"

df_bostonpad_posts.to_csv('Bostonpad_v4.csv')

In [ ]:
univ_codes = ['02115', '02215', '02116', '02108', '02125']
df_bostonpad_posts['LOCATION_TYPE'] = df_bostonpad_posts['Zipcode'].apply(lambda x: 'University' if x in univ_codes else 'Non-university')

In [ ]:
import numpy as np

Univ_values = df_bostonpad_posts[df_bostonpad_posts['LOCATION_TYPE']=='University']['price'].dropna()
Non_univ_values = df_bostonpad_posts[df_bostonpad_posts['LOCATION_TYPE']=='Non-university']['price'].dropna()

Univ_mean = np.mean(Univ_values)
Non_univ_mean = np.mean(Non_univ_values)
print("Univ mean value:",Univ_mean)
print("Non-Univ mean value:",Non_univ_mean)
Univ_std = np.std(Univ_values)
Non_univ_std = np.std(Non_univ_values)
print("Univ std value:",Univ_std)
print("Non-univ std value:",Non_univ_std)

Univ mean value: 3862.540772532189
Non-Univ mean value: 3184.6898985443318
Univ std value: 2078.638921903201
Non-univ std value: 1262.4038567642706

In [ ]:
from scipy.stats import ttest_ind
ttest,pval1 = ttest_ind(Univ_values,Non_univ_values)
print("t statistic",ttest)
print("p-value",float(pval1))
#compare this p-value with /2

t statistic 7.245417809301422
p-value 5.717324986045209e-13